<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://spring.io/favicon.svg?v=96334d577af708644f6f0495dd1c7bc8"
          type="image/x-icon">
    <title>Admin panel</title>
    <style>
        body {
            background-color: #F8F9FA;
            /*min-height: 550px;*/
        }

        .user {
            color: #FFFFFF;
            font-size: 20px;
            margin: 2px;
            padding: 2px;
        }

        #Logout {
            color: #8E999E;
        }

        #Logout:hover {
            color: #C3C4C8;
        }

        #user-board {
            color: #007BFF;
            background-color: #FFFFFF;
            border-radius: 3px;
        }

        #admin-board {
            color: #FFFFFF;
            background-color: #007BFF;
            border-radius: 3px;
        }

        .sidebar-block {
            background-color: #FFFFFF;
            width: 100%;
            height: 115vh;
            padding-right: 0px;
        }

        .page-block {
            width: 100%;
            height: 100%;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: #343A40;">
    <ul class="nav px-0">
        <li class="nav-item username-head"></li>
        <li class="nav-item">
            <a class="nav-link disabled user" style="color: #FFFFFF;">with roles:</a>
        </li>
        <li class="nav-item roles-head"></li>
    </ul>
    <form th:method="POST" th:action="@{/logout}">
        <input id="Logout" class="btn" type="submit" value="Logout">
    </form>
</nav>

<div class="row flex-xl-nowrap page-block">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar sidebar-block">
        <a class="nav-link disabled" style="height: 20px"></a>
        <a class="nav-link disabled" id="admin-board">Admin</a>
        <a class="nav-link active" href="/user" id="user-board">User</a>
    </div>

    <main class="col-12 col-md-9 py-md-3 pl-md-5 bd-content" role="main">
        <h1 style="padding-bottom: 10px">Admin panel</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">New User</a>
            </li>
        </ul>
        <div class="card">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h5 class="card-header">All users</h5>
                    <div class="card-body w-100">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Roles</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody id="table-admin"></tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h5 class="card-header">Add new user</h5>
                    <div class="card-body">
                        <form id="form-add-new" class="col-md-4 mx-auto text-center">
                            <div class="form-group">
                                <label for="first_name1" style="font-weight: bold;">First Name</label>
                                <input type="text" class="form-control" value="" id="first_name1" placeholder="First name"/>
                            </div>
                            <div class="form-group">
                                <label for="last_name1" style="font-weight: bold;">Last Name</label>
                                <input type="text" class="form-control" value="" id="last_name1" placeholder="Last name"/>
                            </div>
                            <div class="form-group">
                                <label for="age1" style="font-weight: bold;">Age</label>
                                <input type="number" class="form-control" value="" id="age1" placeholder="Age"/>
                            </div>
                            <div class="form-group">
                                <label for="Email1" style="font-weight: bold;">Email</label>
                                <input type="email" class="form-control" value="" id="Email1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="Password1" style="font-weight: bold;">Password</label>
                                <input type="password" class="form-control" value="" id="Password1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="roles1" style="font-weight: bold;">Role</label>
                                <select multiple class="form-control input-field" id="roles1" style="max-height: 60px;">
                                    <option th:value="1" th:text="USER"></option>
                                    <option th:value="2" th:text="ADMIN"></option>
                                </select>
                            </div>
                            <button id="add-new-user" type="submit" class="btn btn-success">Add new user</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Edit Modal -->
<div class="modal fade" th:id="exampleModal" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-edit-modal">
                <div class="modal-body col-md-6 mx-auto text-center">
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledId"
                                   style="font-weight: bold;">ID</label>
                            <input type="text" class="form-control"
                                   value=""
                                   id="disabledId">
                        </div>
                    </fieldset>
                    <div class="form-group">
                        <label for="first_name" style="font-weight: bold;">First
                            name</label>
                        <input type="text"
                               class="form-control"
                               value=""
                               id="first_name"/>
                    </div>
                    <div class="form-group">
                        <label for="last_name" style="font-weight: bold;">Last
                            name</label>
                        <input type="text"
                               class="form-control"
                               value="" id="last_name"/>
                    </div>
                    <div class="form-group">
                        <label for="age" style="font-weight: bold;">Age</label>
                        <input type="number" class="form-control"
                               value="" id="age"/>
                    </div>
                    <div class="form-group">
                        <label for="email" style="font-weight: bold;">Email</label>
                        <input type="email"
                               class="form-control"
                               value="" id="email"/>
                    </div>
                    <div class="form-group">
                        <label for="password"
                               style="font-weight: bold;">Password</label>
                        <input type="password"
                               class="form-control"
                               value="" id="password"/>
                    </div>
                    <div class="form-group">
                        <label for="roles" style="font-weight: bold;">Role</label>
                        <select class="form-control" id="roles" multiple="multiple"
                                style="max-height: 60px;">
                            <option id="roles-option1" th:value="1" th:text="USER"></option>
                            <option id="roles-option2" th:value="2" th:text="ADMIN"></option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-dismiss="modal">Close
                    </button>
                    <input type="submit" class="btn btn-primary" id="edit-submit" value="Edit"/>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body col-md-6 mx-auto text-center">
                    <fieldset disabled>
                        <div class="form-group">
                            <label for="disabledHide" style="font-weight: bold;">ID</label>
                            <input type="text" id="disabledHide" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="disabledFirstName" style="font-weight: bold;">First name</label>
                            <input type="text" id="disabledFirstName" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="disabledLastName" style="font-weight: bold;">Last name</label>
                            <input type="text" id="disabledLastName" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="disabledAge" style="font-weight: bold;">Age</label>
                            <input type="number" id="disabledAge" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="disabledEmail" style="font-weight: bold;">Email</label>
                            <input type="email" id="disabledEmail" class="form-control" value="">
                        </div>
                        <div class="form-group">
                            <label for="disabledRoles" style="font-weight: bold;">Role</label>
                            <select multiple class="form-control" id="disabledRoles" style="max-height: 60px;">

                            </select>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <!--                <button id="deleteButton" th:method="DELETE" th:action="" type="button" class="btn btn-primary">Save changes</button>-->
                    <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/admin.js"></script>
<!--<script>-->
<!--    $(function () {-->
<!--        $(".adm-delete").click(-->
<!--            function () {-->
<!--                var id = $(this).attr('data-userId');-->
<!--                var firstName = $(this).attr('data-userFirstName');-->
<!--                var lastName = $(this).attr('data-userLastName');-->
<!--                var age = $(this).attr('data-userAge');-->
<!--                var email = $(this).attr('data-userEmail');-->
<!--                // var userId = "@{{id}(id=38)}";-->
<!--                // var password = $(this).attr('data-userPassword');-->
<!--                // var roles = $(this).attr('data-userRoles');-->

<!--                // $(".tovarimg").append('<img class="img-fluid" src="' + imgtovara + '" alt="..." />');-->
<!--                // $(".tovarinfo").append('<p class="h3">' + nametitle + '</h1>');-->
<!--                // $(".tovarinfo").append('<p><strong>Цена</strong>:' + pricetovar + '</p>');-->
<!--                $("#disabledHide").attr('value', id);-->
<!--                $("#disabledFirstName").attr('value', firstName);-->
<!--                $("#disabledLastName").attr('value', lastName);-->
<!--                $("#disabledAge").attr('value', age);-->
<!--                $("#disabledEmail").attr('value', email);-->
<!--                $("#deleteButton").attr('action', "/admin/delete?id=" + id);-->


<!--                // document.getElementById("deleteButton").setAttribute("action", "/admin/delete?id=" + id);-->
<!--                // $("#password").attr('value', password);-->
<!--                // $("#hide2").attr('value', pricetovar);-->
<!--            })-->
<!--    });-->
<!--</script>-->
</body>
</html>